.square {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: black;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin-bottom: 50px;
}

.circle {
  width: 100px;
  height: 100px;
  padding: 20px;
  background-color: red;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin-bottom: 50px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid yellow;
  transition: .3s ease-in-out;
  cursor: pointer;
}



.green {
  background-color: green;
  border-radius: 50%;
}

.blue {
  background-color: blue;
  border-radius: 25%;
}


.list {
  font-size: 1.5rem;
}

.red {
  color: red;
}
